@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&family=Nanum+Gothic:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {

    font-size: 62.5%;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: #DEE1E3;
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
}
header ul {
margin: 0 2rem 0;
    display: flex;
    align-items: center;
}
header ul li {
    margin: 0 0.75rem 0;
    list-style: none;
font-size: 2rem;
}
header ul li .fas {
    font-size: 2.5rem;
}
header .sign-login {
    display: flex;
    align-items: center;
width: 15%;
font-size: 2rem;
}
header .sign-login .sign {
    background-color: green;
    padding: .9rem 1.3rem;
    margin: 0 1rem 0;
    border-radius: 1.4rem;
    text-decoration: none;
    color: white;
}
header .sign-login .log {
    color: black;
    text-decoration: none;
}
.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-1 
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.container-1 #background-video video {
    width: 100%;
}
.container-1 h1 {
    color: white;
    font-weight: bold;
    text-align: center;
  }

  
 .container-1 h1 {
    font-size: 7rem;
    margin-top: 30vh;
  }
  .container-1 h5 {
      color: gray;
    text-align: center;
      font-size: 4rem;
      margin: 4rem 0;
      font-weight: 300;
  }
  .container-1 p {
    color:white;
    margin: 3rem 0;
  text-align: center;
font-size: 2.3rem;
}
.container-1 a {
padding: 1.5rem 3.4rem;
background-color: #393B3D;
font-size: 2rem;
text-decoration: none;
color: white;
border-radius: 1.3rem;
}
.container-1  h2 { font-size: 3rem; }
@media (max-width: 750px) {
    /* #background-video { display: none; }
    body {
      background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
      background-size: cover;
    } */
    .container-1 
#background-video {
height: auto;
}
    .container-1 h5 {
font-size: 2rem;
text-align: left;
margin-left: 1rem;
    }
    .container-1 h1 {
text-align: left;
margin-left: 1rem;
font-weight: 500;

      }
}